<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{{ title }}</title>
    </head>

    <body>
        <div>
            {{> header }}
        </div>

        <div>
            <p>Let's see how we can manage your problem</p>
        </div>
        
        {{> footer }}
    </body>
</html>