<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{{ title }}</title>
    </head>

    <body>
        {{> header }}
        <div>
            <h1>{{ screamIt welcomeMessage }}</h1>
        </div>

        {{> footer }}
    </body>
</html>